Cookbook.UWP/Service References/MeasureServiceReference/MeasureService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cookbook.Entity.Recipe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cookbook.Entity.Recipe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58204/Recipe/MeasureService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfMeasure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Measure" nillable="true" type="tns:Measure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasure" nillable="true" type="tns:ArrayOfMeasure" />
  <xs:complexType name="Measure">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Measure" nillable="true" type="tns:Measure" />
</xs:schema>